.pulsating-dot {
  width: 18px;
  height: 18px;
  background: #e53935;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(229,57,53,0.7);
  position: relative;
  left: 0;
  top: 0;
  z-index: 1000;
  animation: pulse 1.2s infinite;
  border: 2px solid #fff;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(229,57,53,0.7);
  }
  70% {
    box-shadow: 0 0 0 16px rgba(229,57,53,0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(229,57,53,0);
  }
}
